@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
}

main{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right bottom, #dc96ae, #db8fa4, #d9899a, #d78390, #d47d85)  no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
section{
  background: #fff;
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.detail-form{
  margin: 80px auto 20px auto;
  text-align: center;
}
.detail-form h2{
  font-weight: 600;
}
.detail-form p{
  font-weight: 600;
  color: #8f8f8f;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 15px;
  
}
form input,
form button{
  width: 300px;
  height: 40px;
  margin: 5px 0;
  border-radius: 8px;
  outline: none;
  border: none;
}
form input{
  background: #d47d867f;
  padding: 10px;
}
form input::placeholder{
  color: #8f8f8f;
  font-family: inherit;
}
form button{
  cursor: pointer;
  background: #d47d85;
  color: #fff;
}
.password-box{
  position: relative;
}
.password-box i{
  position: absolute;
  top:15px;
  right: 15px;
  cursor: pointer;
}